<table class="zebra-striped" id="consumers">
  <thead>	
  <tr>
    <th>Потребитель</th>
    <th>Получено всего</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.name %></td>
    <td><%= consumer.total%> м<sup>3</sup></td>
    <td>
		<div id="modal-from-dom<%=consumer.id%>" class="modal hide fade">
			<div class="modal-header">
				<a href="#" class="close">&times;</a>
				<h3>Редактировать потребителя</h3>
			</div>
			<div class="modal-body">
				<%= render "form", :consumer => consumer, :create => false %>	
			</div>
		</div>
		<%= button_to 'Редактировать', "#",{:method => :get, :class => "btn",
										"data-backdrop" => true,
										"data-controls-modal" => "modal-from-dom#{consumer.id}",
										"data-keyboard" => true } %>
									</td>
    <td><%= button_to 'Удалить', consumer, :confirm => 'Вы уверены', :method => :delete, :class => "btn danger" %></td>
  </tr>
<% end %>
</tbody>
</table>