<table class="zebra-striped" id="consumers">
  <thead>	
  <tr>
    <th>Потребитель</th>
    <th>Номер</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.name %></td>
    <td><%= consumer.number %></td>
    <td><%= button_to 'Редактировать', edit_consumer_path(consumer), :method => :get, :class => "btn" %></td>
    <td><%= button_to 'Удалить', consumer, :confirm => 'Вы уверены', :method => :delete, :class => "btn danger" %></td>
  </tr>
<% end %>
</tbody>
</table>
<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Новый потребитель</h3>
	</div>
	<div class="modal-body">
		<%= render :partial => "form", :locals => { :create => true } %>	
	</div>
</div>
<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Новый потребитель</button>