<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consumer.name %>
</p>

<p>
  <b>Number:</b>
  <%= @consumer.number %>
</p>


<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
