<table class="zebra-striped" id="boiler_rooms">
<thead>
  <tr>
	 	<th>Котельная</th>
	 	<th>Номер</th>
	 	<th></th>
	 	<th></th>
  </tr>
</thead>
 <tbody>
<% @boiler_rooms.each do |boiler_room| %>
  <tr>
    <td><%= boiler_room.name %></td>
    <td><%= boiler_room.number %></td>
    <td>
		<%= button_to 'Редактировать', edit_boiler_room_path(boiler_room), :method => :get, :class => "btn" %>
	</td>
	<td>
		<%= button_to 'Удалить', boiler_room, :confirm => 'Вы уверены?', :method => :delete, :class => "btn danger" %>
	</td>
  </tr>
<% end %>
 </tbody>
</table>
<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Новая котельная</h3>
	</div>
	<div class="modal-body">
		<%= render :partial => "form", :locals => { :create => true } %>	
	</div>
</div>
<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Новая котельная</button>
