<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @boiler_room.name %>
</p>

<p>
  <b>Number:</b>
  <%= @boiler_room.number %>
</p>


<%= link_to 'Edit', edit_boiler_room_path(@boiler_room) %> |
<%= link_to 'Back', boiler_rooms_path %>
