<% # coding: UTF-8 %>
<%= form_for @transaction, :validate => true do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix">
    <%= f.label :boiler_room_id, "Котельная"%>
      <div class="input">
        <%= f.select :boiler_room_id, BoilerRoom.all.collect {|b| [ b.name, b.id ]} %>
      </div>
  </div>
  <div class="clearfix">
    <%= f.label :consumer_id, "Потребитель"%>
      <div class="input">
        <%= f.select :consumer_id, Consumer.all.collect {|c| [ c.name, c.id ]} %>
      </div>
  </div>
   <div class="clearfix">
    <%= f.label :title, "Описание" %>
    <div class="input">
      <%= f.text_field :title %>
   </div>  
  </div>
  <div class="clearfix">
    <%= f.label :value, "Размер" %>
    <div class="input">
      <%= f.text_field :value %> м<sup>3</sup>
    </div>  
  </div>
  <div class="actions">
     <%= f.submit "Создать", :class => "btn primary" %>
  </div>  
<% end %>
