<table class="zebra-striped" id="transactions">
  <thead> 
  <tr>
    <th>Котельная</th>
    <th>Потребитель</th>
    <th>Размер поставки</th>
    <th>Комментарий</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%=transaction.boiler_room.name%></td>
    <td><%=transaction.consumer.name%></td>
    <td><%=transaction.value%></td>
    <td><%=transaction.title%></td>
    <td><%= link_to 'Удалить', transaction, confirm: 'Вы уверены?', method: :delete, :class => "btn danger" %></td>
  </tr>
<% end %>
  <tbody>
</table>

<br />

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Новая поставка</h3>
  </div>
  <div class="modal-body">
    <%= render "form", :transaction => @transcation, :create => true %> 
  </div>
</div>
<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Новая поставка</button>