<%= form_for @search, :url => search_transactions_path do |f| %>
  <div class="clearfix">
      <div class="inline-inputs">
            Поставки с
    	  <%= f.text_field :created_at_gteq, :class => "small" %>
           по 
        <%= f.text_field :created_at_lteq, :class => "small" %>
        <%= f.select :status_equals, [["Со статусом",""],["Отправлено","send" ],["Получено", "received"],["Расходуется", "use"],["Израсходовано", "finish"]] %>
        <%= f.select :boiler_room_id_equals,[["Из котельной",""]] + BoilerRoom.all.collect {|b| [ b.name, b.id ]} %>
        <%= f.select :consumer_id_equals, [["Потребителю",""]] + Consumer.all.collect {|b| [ b.name, b.id ]} %>
      </div> 
  </div>
  <div class="row">
    <div class="span5" style="text-align:center;">
      <%= f.submit "Найти", :class => "btn large primary", :size => 300 %>
     <% end %>
    </div>
    <div class="span5" style="text-align:center;">
       <%=link_to "Скачать XML", search_transactions_path(:format => :csv, :search => params[:search]), :class => "btn large success" if @transactions.size > 0 %>
     </div> 
     <div class="span5">
      <% if @transactions.size > 0 %>
        <h3>Всего: <%=@transactions.map(&:value).inject(&:+)%> м<sup>3</sup></h3>
      <% end %> 
     </div> 
  </div>
 <br />
 <% if @transactions.size > 0 %>
 <table class="zebra-striped" id="transactions">
  <thead> 
  <tr>
    <th>Котельная</th>
    <th>Потребитель</th>
    <th>Размер поставки</th>
    <th>Статус</th>
    <th>Дата</th>
    <th>Комментарий</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render @transactions %>
  </tbody>
</table>
<% else %>
  <h1>Ничего не найдено</h1>
<% end %>