<%= form_for @search, :url => search_transactions_path do |f| %>
  <div class="clearfix">
  	<div class="input">
      <div class="inline-inputs">
            Поставки с
    	  <%= f.text_field :created_at_gteq, :class => "small" %>
          По
        <%= f.text_field :created_at_lteq, :class => "small" %>
        <span class="help-block">Выберите конечную и начальную дату</span>
      </div> 
    </div>
  </div>
  <div class="clearfix">
   <%= f.label :status_equals, "Со статусом" %>
    <div class="input">
    <%= f.select :status_equals, [["Отправлено","send" ],["Получено", "received"],["Расходуется", "use"],["Израсходовано", "finish"]] %>
    </div>
  </div>  
  <div class="row">
    <div class="span6" style="text-align:center;">
      <%= f.submit "Найти", :class => "btn large primary", :size => 300 %>
     <% end %>
    </div>
    <div class="span6" style="text-align:center;">
       <%=link_to "Скачать XML", search_transactions_path(:format => :csv, :search => params[:search]), :class => "btn large success" if @transactions.size > 0 %>
     </div>  
  </div>
 <br />
 <% if @transactions.size > 0 %>
 <table class="zebra-striped" id="transactions">
  <thead> 
  <tr>
    <th>Котельная</th>
    <th>Потребитель</th>
    <th>Размер поставки</th>
    <th>Статус</th>
    <th>Дата</th>
    <th>Комментарий</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%=transaction.boiler_room.name%></td>
    <td><%=transaction.consumer.name%></td>
    <td><%=transaction.value%> м<sup>3</sup></td>
    <td><%=show_status(transaction.status)%></td>
    <td><%=transaction.created_at.strftime("%R %D")%></td>
    <td><%=transaction.title%></td>
    <td><%= button_to 'Удалить', transaction, confirm: 'Вы уверены?', :method => :delete, :class => "btn danger" %></td>
  </tr>
<% end %>
  </tbody>
  <tr>
  <td></td>
  <td><h3>Всего:</h3></td>
  <td><h4><%=@transactions.map{|t| t.value}.inject(0){|sum, value| sum + value }%> м<sup>3</sup></h4></td>
  <td></td>
  <td></td>
 </tr>
</table>
<% else %>
  <h1>Ничего не найдено</h1>
<% end %>
