<!DOCTYPE html>
<html>
<head>
  <title>Система автоматизации учета поставок топлива для котельних</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "jquery","jquery.tablesorter.min", "jquery-ui-1.8.16.custom.min", "application" %>
  <%= javascript_include_tag "bootstrap-modal","bootstrap-dropdown", "rails.validations.js", "bootstrap-alerts", "bootstrap-scrollspy", "bootstrap-buttons", "bootstrap-tabs", "bootstrap-twipsy", "bootstrap-popover" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
		<div class="container">
			<%=link_to "Pumpkin", root_path(), :class =>"brand" %>
			<ul class="nav">
			    <li id="transactions"><%=link_to "Поставки", transactions_path()%></li>
				<li id="boiler_rooms"><%=link_to "Котельные", boiler_rooms_path()%></li>
            	<li id="consumers"><%=link_to "Потребители", consumers_path()%></li>
            	<li class="dropdown" id="test">
             		 <a href="#" class="dropdown-toggle">Добавить</a>
              		 <ul class="dropdown-menu">
                    <li><a href="#" data-controls-modal="modal-transaction" data-backdrop="true" data-keyboard="true">Новая поставка</a></li>
                    <li class="divider"></li>
                	 	<li><a href="#" data-controls-modal="modal-consumer" data-backdrop="true" data-keyboard="true">Потребителя</a></li>
               			<li><a href="#" data-controls-modal="modal-boiler_room" data-backdrop="true" data-keyboard="true">Котельную</a></li>
              		</ul>
            	</li>
              <li id="search"><%= link_to "Поиск", search_transactions_path()%></li>
			</ul>
		</div>
	</div>
</div>
<div class="container" style="padding-top: 60px;">
	<%= yield %>	
  <div id="modal-transaction" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Новая поставка</h3>
  </div>
  <div class="modal-body">
    <%= render "transactions/form", :transaction => @transcation %> 
  </div>
</div>
<div id="modal-consumer" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Новый потребитель</h3>
  </div>
  <div class="modal-body">
    <%= render "consumers/form", :consumer => @consumer, :create => :true %> 
  </div>
</div>
<div id="modal-boiler_room" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Новая котельная</h3>
  </div>
  <div class="modal-body">
    <%= render "boiler_rooms/form", :boiler_room => @boiler_room, :create => :true %> 
  </div>
</div>
<footer>
	<p>&copy; ОАО "ЖилГорСтрой" 2011</p>
</footer>	
</div>	
</body>
</html>
