<!DOCTYPE html>
<html>
<head>
  <title>Система автоматизации учета поставок топлива для котельних</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "jquery","jquery.tablesorter.min","bootstrap-modal", "application", "rails.validations.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
    <div class="topbar-inner">
		<div class="container">
			<%=link_to "Pumpkin", root_path(), :class =>"brand" %>
			<ul class="nav">
			    <li id="transactions"><%=link_to "Поставки", transactions_path()%></li>
				<li id="boiler_rooms"><%=link_to "Котельные", boiler_rooms_path()%></li>
            	<li id="consumers"><%=link_to "Потребители", consumers_path()%></li>
			</ul>
		</div>
	</div>
</div>
<div class="container" style="padding-top: 60px;">
	<%= yield %>	
<footer>
	<p>&copy; ОАО "ЖилГорСтрой" 2011</p>
</footer>	
</div>	
</body>
</html>
