<!DOCTYPE html>
<html>
<head>
  <title>Система автоматизации учета поставок топлива для котельних</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="topbar-wrapper" style="z-index: 5;">
	    <div class="topbar" data-dropdown="dropdown" >
	      <div class="topbar-inner">
	        <div class="container">
	          <h3><a href="/">Pumpkin</a></h3>
	          <ul class="nav">
	            <li class="active"><%=link_to "Котельные", boiler_rooms_path()%></li>
	            <li><%=link_to "Потребители", consumers_path()%></li>
	          </ul>
	        </div>
	      </div><!-- /topbar-inner -->
	    </div><!-- /topbar -->
	  </div><!-- /topbar-wrapper -->
<%= yield %>
</div>
</body>
</html>
